@import'fonts.css';

:root {
    --body: #fff;
    --text: #313131;
    --link: #fff;
    --title: #313131;
    --btn: #313131;
    --dots-active: #313131;
    --dots: #ababab;
    --font-primary: 'NotoSans';
    --footer-body: #313131;
    --icon: #313131;
}



body{
    background: var(--body);
    font-family: var(--font-primary);
    color: var(--text);
}

.logo::before{
    content: url(../img/svg/For\ light.svg);
}


a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}


.all-btn{
    text-align: center;
    display: block;
    color: #fff !important;
    border: 1px var(--text) solid;
    background: var(--btn);
    max-width: 190px;
    width: 100%;
    outline: none;
    border-radius: unset;
    font-size: 18px;
    padding: 9px;
    text-transform: capitalize;
}

.all-btn:hover{
    background: #fff;
    color: #313131 !important;
}





.title{
    font-size: 36px;
    text-transform: capitalize;
    color: var(--text);
}









/* header start */


.header__nav{
    background: #0C0C0C;
}

.nav__link{
    /* margin-right: 60px; */
    color: var(--link) !important;
    font-size: 18px;
    line-height: 19px;
    text-transform: capitalize;
}

.nav__link-2{
    color: var(--text) !important;
    font-size: 18px;
    line-height: 19px;
    text-transform: capitalize;
}


.nav__link:hover{
    color: #fff;
}

.dropdown__menu{
    background: #0C0C0C;
    color: #fff;
}

.drop__menu{
    min-width: auto;
    background: var(--body);
    padding: 0;
    border-radius: 0;

}


.dropdown-menu{
    border-top: 2px white solid;
}

.drop__item{
    color: var(--text);
    text-align: center;
    padding: 2px 10px;
    font-size: 14px;
    letter-spacing: 5%;
    position: relative;
}

.fal{
    color: #fff;
}



.nav-item:first-child{
    margin-right: 80px;
}

.nav-item:nth-child(2){
    margin-right: 35px;
}
.nav-item:nth-child(3){
    margin-right: 40px;
}



.header__nav-input{
    background: var(--body);
}


.drop__border::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background: var(--text);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar__nav{
    row-gap: 20px;
}


.navbar__nav-2{
    background: var(--body);
}


.nav__input{
    width: 440px;
    padding: 15px;
    margin-right: 0 !important;
    border-radius: unset;
    background: var(--body);
    border: var(--text) 1px solid;
    font-size: 14px;
}



.nav__btn{
    width: 190px;
    border-radius: unset;
    color: #fff;
    background: #313131;
    border: var(--text) 1px solid;
    font-size: 14px;
    text-transform: uppercase;
}



.nav__btn:hover{
    color: #fff;   
}

.header__form{
    max-width: 100%;
}


.nav__link-2{
    font-size: 18px;
    color: var(--text);
    letter-spacing: 5%;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0 20px;
}

.nav__link-2:hover{
    color: var(--text);
}



.drop__menu-2{
    background: black;
    font-size: 12px;
    font-weight: 300;
    border-radius: unset;
    margin-left: 250px;
}

.dropdown-item{
    padding: 1px 20px;

}


.drop__menu-2 li:first-child  a{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    position: relative;
}

.drop__menu-2 li:first-child  a::before{
    content: '';
    background: #fff;
    height: 1px;
    width: 85px;
    position: absolute;
    bottom: 0;
}



.drop__toggle{
    color: #fff;
}

.drop__toggle:hover{
    color: #fff;
}





/* header end */



/* main start */


/* carousel start */



.carousel__caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    align-items: center;
    padding-bottom: 50px;
}

.carousel__title{
    width: 534px;
    font-size: 52px;
    line-height: 70px;
    letter-spacing: 10%;
    color: var(--text);
    font-weight: 500;
    margin-bottom: 120px;
}


.header__carousel-indicators{
    column-gap: 10px;
}

.header__indicators-dots{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background: var(--dots) !important;
    border: none !important;
    opacity: 1 !important;
}


.header__indicators-dots.active {
    background: var(--dots-active) !important;
}

/* carousel end */


/* start start */
.start{
    margin-bottom: 100px;
    margin-top: 90px;
}


.start__title{
    font-size: 18px;
    letter-spacing: 5%;
    color: var(--title);
}

.start__txt{
    color: var(--title);

}

.start__content-1{
    position: absolute;
    bottom: 15px;
    left: 20px;
}
.start__content-2{
    position: absolute;
    bottom: 15px;
    left: 20px;
}
.start__content-3{
    position: absolute;
    top: 15px;
    left: 20px;
}
.start__content-4{
    position: absolute;
    top: 15px;
    left: 20px;
}



.start__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.start__item {
    min-height: 235px;
    background: #fff;
    filter: drop-shadow(-10px 5px 4px rgba(0, 0, 0, 0.25));
    position: relative;
}

.start__banner {
    position: absolute;
}
.start__banner-2{
    position: absolute;
    right: 0;
    width: 80%;
}
.start__banner-3{
    position: absolute;
    bottom: -4px;
}

.start__lg {
    grid-row: 2 span;
    grid-column: 2 span;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.start__lg::before{
    position: absolute;
    content: '-57%';
    width: 70px;
    height: 70px;
    background: #313131;
    color: #fff;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}
.start__md::before{
    position: absolute;
    content: '-30%';
    width: 70px;
    height: 70px;
    background: #313131;
    color: #fff;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}
.start__sm::before{
    position: absolute;
    content: '-10%';
    width: 70px;
    height: 70px;
    background: #313131;
    color: #fff;
    bottom: 25px;
    left: 25px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}

.start__md {
    grid-column: 2 span;
    position: relative;
}

/* start end */

/* cellPhone start */



.cellphone__title{
    font-size: 16px;
    color: var(--text);
}

.cellphone__txt{
    font-size: 14px;
    color: var(--text);
    margin-top: 5px;
    margin-bottom: 10px;
}


.cellphone__card:hover{
    border: 1px #3e3e3e solid;
}

.cellphone__card:hover .cellphone__btn{
    opacity: 1;
}

.cellphone__card:hover .cellphone__icon{
    opacity: 1;
}

.cellphone__card{
    position: relative;
    transition: .5s;
}
.cellphone__icon{
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: .5s;
    color: var(--text);
}



.cellphone__btn{
    display: unset;
    padding: 5px;
    max-width: 100px;
    opacity: 0;
    transition: .5s;
    margin-bottom: 20px;
    
}

.callPhone__btn{
    margin-top: 30px !important;
    margin: 0 auto;
}


.computers{
    margin-top: 150px;
    margin-bottom: 100px;
}
/* cellPhone end */



/* ps sart */

.ps__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.ps__icon{
    max-width: 270px;
    width: 100%;
    
}

.ps__icon::before{
    content: url(../img/ps5/ps_icon\ light.png);
}

.ps__title{
    margin-top: 20px;
    margin-bottom: 70px;
}


/* ps end */


/* top sell start */

.topsell{
    margin-top: 150px;
    margin-bottom: 100px;
}
.samsung{
    margin-top: 150px;
    margin-bottom: 100px;
}

.xiaomi{
    margin-bottom: 149px;
}

/* top sell end */


/* xbox start */

.xbox__txt{
    color: var(--text);
    font-size: 24px;
    max-width: 454px;
    width: 100%;
    margin-top: 10px;
}

.xbox__btn{
    position: absolute;
    bottom: 20px;
    left: 130px;
}

.xbox__btn:hover{
    background: var(--body);
    color: var(--text) !important;
}



.xbox{
    position: relative;
}

.xbox__title{
    font-size: 48px;
    color: var(--text);
    line-height: 60px;
}

.xbox__span{
    margin-top: 55px;
    margin-bottom: 55px;
}

.xbox__banner{
    position: relative;
    width: 77% !important;
    margin: 0 auto;
    display: block;
}

.xbox__body{
    position: absolute;
    bottom: 0;
    z-index: -11;
    left: 0;
}

.span__1{
    position: relative;
    font-size: 30px;
    line-height: 40px;
    color: var(--text);
}
.span__2{
    position: relative;
    font-size: 30px;
    line-height: 40px;
    color: var(--text);
}
.span__3{
    position: relative;
    font-size: 30px;
    line-height: 40px;
    color: var(--text);
}

.span__1::after{
    content: '';
    background: var(--text);
    width: 2px;
    height: 35px;
    position: absolute;
    right: -10px;
    bottom: 0;
}
.span__2::after{
    content: '';
    background: var(--text);
    width: 2px;
    height: 35px;
    position: absolute;
    right: -10px;
    bottom: 0;
}
.span__3::after{
    content: '';
    background: var(--text);
    width: 2px;
    height: 35px;
    position: absolute;
    right: -10px;
    bottom: 0;
}

.span__4{
    font-size: 30px;
    line-height: 40px;
    margin-left: 10px;
    text-transform: uppercase;
    color: var(--text);
}


.span__1, .span__2, .span__3, .span__4, .span__icon:hover{
    color: var(--text) !important;
}


.span__icon{
    color: var(--text);
    font-size: 30px;
    margin-top: 8px;
    margin-left: 10px;
}


/* xbox end */



/* main end */





/* footer start */

.footer{
    background: var(--footer-body);
}

.footer__container{
    margin-top: 60px;
    margin-bottom: 50px;
}


.footer__item{
    list-style: none;
    margin-bottom: 40px;
}

.footer__link{
    text-decoration: none;
    color: var(--link);
    font-size: 18px;
    line-height: 24px;
}


.footer__link:hover{
    color: var(--link);
}


.footer__input{
    width: 330px;
    max-width: 100%;
    border-radius: 0;
    background:  #fff;
    color: var(--text);
    padding: 12px ;
}

.input__form::before{
    content: 'Subscribe to Newslatter';
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: -30px;
    color: #fff;
}

.input__form{
    position: relative;
}




.footer__btn{
    border-radius: 0;
    color: #fff;
    width: 190px;
    max-width: 100%;
    background: #313131;
    padding: 12px 0;
    border: 1px solid
     var(--body) !important; 
}

.footer__btn:hover{
    color: var(--link);
}

.footer__icon{
    color: var(--link);
}

/* footer end */



/* vr start */
.vr{
    margin-bottom: 70px;
    margin-top: 70px;
}
.vr__title{
    color: var(--text);
    font-size: 48px;
    line-height: 65px;
    text-transform: capitalize;
}

.vr__txt{
    color: var(--text);
    font-size: 24px;
    max-width: 454px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;

}
/* vr end */


/* new iphone */

.Iphone{
    margin-top: 100px;
    margin-bottom: 100px;
}

.iphone__card-1{
    position: relative;
}

.iphone__card-1.active::before {
    content: url(../img/Iphone/iphone-1_100%\ \(2\).png);
    position: absolute;
}

.iphone__card-2{
    position: relative;
}

.iphone__card-2.active::before {
    content: url(../img/Iphone/iphone_100%.png);
    position: absolute;
}

.iphone__card-3{
    position: relative;
}

.iphone__card-3.active::before {
    content: url(../img/Iphone/iphone-3_100%.png);
    position: absolute;
}

.shop__icon{

    color: var(--icon) !important;

}

/* new iphone 2 */


/* iphone start */

.iphone{
    margin-top: 70px;
}

.iphone__about{
    margin-top: 5px;
}
.iphone__title{
    margin-bottom: 40px;
    font-size: 30px;
    letter-spacing: 5%;
}

.iphone__txt{
    margin-bottom: 10px;
}

.iphone__price{
    margin-bottom: 20px;
}



/* iphone end */

